<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AutomatedTestingSystem.TestFramework.Properties.Settings.ASTConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AST;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>